<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    {{> header}}
    <p>
      {{projectsMessage}}
    </p>

    {{> footer}}
  </body>
</html>
